<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pipeline Automation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/mystyle.css">
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-center mt-5 mb-4">Welcome to Pipeline Automation</h1>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 col-lg-4">
                <div class="card text-center card-pipeline">
                    <i class="fas fa-cogs serviceicon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Create New Pipeline</h5>
                        <a class="btn btn-primary" href="/create">New Pipeline <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card text-center card-pipeline">
                    <i class="fas fa-edit serviceicon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Edit Existing Pipeline</h5>
                        <form id="pipelineForm">
                            <select class="form-select mb-3" id="companySelect" name="company_name">
                                <option value="">Select Job Type</option>
                                {% for company in company_names %}
                                <option value="{{ company }}">{{ company }}</option>
                                {% endfor %}
                            </select>
                            <div class="reposelect" style="display: none;">
                                <label for="repoSelect" class="form-label">Select Repository</label>
                                <select class="form-select mb-3" id="repoSelect" name="repo_name" disabled>
                                    <option value="">Select a company first</option>
                                </select>
                            </div>
                            <div class="fileselect" style="display: none;">
                                <label for="fileSelect" class="form-label">Select File</label>
                                <select class="form-select mb-3" id="fileSelect" name="file_name" disabled>
                                    <option value="">Select a repository first</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
